.faq-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}
.faq__title{
    margin-bottom: 20px;
}
.faq__questions{
    width: 100%;
    height: 100%;
}