.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu__element{
    margin-right: 30px;
    cursor: pointer;
    transition: .3s;
    flex-wrap: wrap;
    font-size: 15px;
    padding: 20px 0;
    &:hover{
        transform: translateY(-10px);
    }
    &:last-child{
        margin-right: 0;
    }
}
.menu__link{
    padding: 20px 0;
}
.menu__button{
    color: white;
    background-color: #1a32e0;
    font-weight: 800;
    &:hover{
        color: #1a32e0;
        background-color: white;
        transition: 0.3s;
    }
}