.registration-modal{
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    width: 100vw;
    height: 100vh;
    z-index: 30;
    transition: opacity .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 5vw;
    z-index: -20;
}

.registration-modal--visible{
    height: 100vh;
    opacity: 1;
    z-index: 50;
}

.registration-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 80px;
    min-width: 50%;
    min-height: 50%;
    height: 100%;
    opacity: 1 ;
}

.registration__cross-button{
    position: absolute;
    right: 20px;
    top: 20px;
    transition: .3s;
    cursor: pointer;
    &:hover{
        transform: scale(1.2);
    }
}

.registration__title{
    color: #1a32e0;
    margin-bottom: 20px;
}

.registration__form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar{
        display: none;
    }

}
